@media (prefers-color-scheme: light) {
    nav {
        display: flex;
        justify-content: center;
    }

    .a {
        position: relative;
        top: 20px;
        display: flex;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
    }

    .a a {
        width: 90px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 20px;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .b {
        position: absolute;
        left: 0;
        width: 90px;
        height: 60px;
        border-radius: 20px;
        background-color: #ffdc17;
        z-index: -999;
        transition: 0.2s;
    }

    .a a:nth-child(1):hover~.b {
        left: 0;
    }

    .a a:nth-child(2):hover~.b {
        left: 90px;
    }

    .a a:nth-child(3):hover~.b {
        left: 180px;
    }

    .a a:nth-child(4):hover~.b {
        left: 270px;
    }
}

@media (prefers-color-scheme: dark) {
    nav {
            display: flex;
            justify-content: center;
        }
    
        .a {
            position: relative;
            top: 20px;
            display: flex;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
        }
    
        .a a {
            width: 90px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 20px;
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
    
        .b {
            position: absolute;
            left: 0;
            width: 90px;
            height: 60px;
            border-radius: 20px;
            background-color: #ffdc17;
            z-index: -999;
            transition: 0.2s;
        }
    
        .a a:nth-child(1):hover~.b {
            left: 0;
        }
    
        .a a:nth-child(2):hover~.b {
            left: 90px;
        }
    
        .a a:nth-child(3):hover~.b {
            left: 180px;
        }
    
        .a a:nth-child(4):hover~.b {
            left: 270px;
        }
}