body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(to top left, #f7c352, #fdf7a4);
}

h1 {
    width: 100%;
    text-align: center;
    color: #000000;
}