*::selection {
    background-color: orange;
    color: antiquewhite;

}

body {
    background-color: #F5F5F5;
    justify-content: center;
}

header {
    background-color: #ffd900a8;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 30px 30px;
}

header img {
    width: 100px;
}

main {
    width: 90%;
    background-color: #FFF;
    padding: 5%;
    margin-top: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

section {
    margin-bottom: 20px;
}

h1,
h2 {
    color: #333;
}

p {
    color: #666;

    /* 对于段落内容，采用黄金比例行高 */
    line-height: 1.618;
    font-size: 18px;
}

footer {
    width: 100%;
    margin-top: 20px;
    padding: 2px;
    text-align: center;
    color: #FFF;
    background-color: #333;
}

a {
    font-size: 18px;
    color: orange;
}

a:hover {
    color: rgb(224, 146, 0);
}


#copyright {
    font-size: 14px;
    color: rgba(255, 235, 205, 0.521);
}

section {
    background-color: #F5F5F5;
    padding: 2%;
    border-radius: 20px;
}