body {
    font-family: "LXGW WenKai Screen";
    font-weight: bold;
    background-color: #F5F5F5;
}

header {
    background-color: #FFD700;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    width: 100px;
    height: 100px;
}

main {
    width: 80%;
    max-width: 800px;
    background-color: #FFF;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 20px;
}

h1,
h2 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.6;
    font-size: 24px;
}

footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: #FFF;
    background-color: #333;
    width: 100%;
}

a {
    color: #FFD700;
}

a:hover {
    text-decoration: underline;
}